.profile-img {
    width: 400px;
    height: 400px;
    /*height: auto;*/
    border-radius: 50%; /* pour arrondir */
    object-fit: cover; /* pour bien cadrer */
}

.img-back {
    width: 360px;
    height: 360px;
    padding-top :46px ;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* pour s'assurer que l'image ne dépasse pas */
    border-radius: 50%; /* pour arrondir le conteneur également */
    background-image: linear-gradient(-39deg, #8200ff, #e49cff);

}

